<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistration" />
                <binding name="BasicHttpBinding_INotification" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52592/Registration.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRegistration" contract="RegistrationService.IRegistration"
                name="BasicHttpBinding_IRegistration" />
            <endpoint address="http://localhost:52592/Notification.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INotification" contract="NotificationService.INotification"
                name="BasicHttpBinding_INotification" />
        </client>
    </system.serviceModel>
</configuration>